.mainContainer {
    display: block;
    height: 100%;
    width: 100%;

    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;
    // justify-content: flex-start;

    // overflow: scroll;
    // padding: 4em;
    // padding-top: 1em;
    padding-bottom: 0.4em;
}

.grid{
    // margin-top: 1em;
    padding-top: 1em;
    height: 100%;
    width: 100%;

    overflow: scroll;

    display: grid;
    grid-template-columns:44% 56%;
    grid-row-gap:1em;
    flex: 1;

}

.label{
    font-size: 14px;
    right: 0.3em;
    text-align: center;
    align-self: center;
    padding-left: 1em;
}

.input{
    font-size: 12px;
    width: 8em;
    height: 1.3em;
    // margin: 0.3em;
    border: 0;
    outline: none;
    text-align: center;
    align-self: center;

    left: 0.9em;
    margin-left: 0.6em;
    // margin: auto;

    &::placeholder{
        color: white;
    }
    &[type=number]::-webkit-inner-spin-button { 
        position:absolute;
        right: 0;
    }
}

.firstPair{
    cursor: not-allowed
}

.bulletInput {
    background-color: #00b2e1;
}

.holdInput{
    background-color: #ff7a7c;
}

.CycleInput{
    background-color: #b78ee9;
}