@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');

.mainContainer{
  display: flex;
  flex-direction: column;
  // margin: 10px 0;
}

.skillRowWrapper{
  height: 12.5%;
  pointer-events: none;
}

.upgrades {
  // z-index: -1;
    background: rgba(0,0,0,0);
    outline: 0;  
    border-radius: 1vh;

    height: 100%;
    width: 100%;

    display: inline-block;

  position: relative; 
  &:hover{
    cursor:pointer;
  }

  // &::after{
  //   content: "";
  //   z-index: -1;
  //   position: absolute;
  //   height: 105%;
  //   width: 105%;
  //   top: 0;
  //   left: 0;
  // }

  // &:active {
  //   transform: scale(0.97)
  // }
  // &:hover::after{
  //   cursor:pointer;
  //   background-color: rgba(255,255,255,0.7);
  // }
}


.editModeCard {
  transform-origin: center;
    &::after{
        content: "";
        z-index: -2;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transform-origin: center;

        border-radius: 1vh;
        transform: scale(1.08);
        pointer-events: none;

        background-color: rgba(254, 41, 43, 0.4);
    }
}


.clickedShrink97 {
  // transform: scale(0.97)
  left: 1px;
  top: 1px;
}




.statInput{
background-color: rgba(95,95,95, 0.85);

text-shadow: none !important;

position: absolute;
height: 100%;
width: 100%;
padding: 5px;

// padding-left: 0.9vh;
font-size: 43px;
line-height: 97%;
text-align: center;

border-radius: 1vh;
border: 0;

outline: 0;
resize:none;

}

.margin10{
  margin-bottom: 1px !important;
}

.nameInput{
  z-index: 100;
 width: 190px;
 margin: 0 auto;
 height: 1.5em;
 font-size: 20px;
 text-align: center;
 caret-color:gray;
 background-color: transparent;
 border: 0;
}

.editModeNameInput{
  border-bottom: 2px solid black;
}