.mainContainer{
    width: 60vw;
    height: 3vw;

    position: fixed;
    top: 1vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}

.guideBars{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.progressBarContainer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%; left:0;

    display: flex;
    flex-direction: row;
}
.progressBar{
    height: 100%;
    display:inline-block;
}

.purple{
    background-color: #b78ee9;
}

.red{
    background-color: #ff7a7c;
}

.blue{
    background-color: #00b2e1;

}
.animate{
    animation: fill 3s linear forwards
}

@keyframes fill{
    100%{
        width: 100%;
    }
}

.indicator{
    height: 100%;
    display: inline-block;
    text-align: center;
}
.clickIndicator{
    background-color: #ff7a7c;
}

.waitIndicator{
    background-color: #00b2e1;
}