.mainContainer{

}

.heading {
    font-size: 3em;
}

.overflow{
    width: 100%;
    overflow: hidden;

    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

