$container-width: 170px;
$container-height: $container-width * 1.075;
$first-button-width: 16%;
$last-button-width: 20%;

$border-size: round($container-width * 0.014);
$border-color: #3c3c3c;

$row-padding: 0.9%;
$container-padding: $container-width * 0.05;

$last-button-color: #9d9d9d;
$container-color: #c0c0c0;
$skill-colors: (
  1:rgba(254.5,170.5,113.5,0.66) ,
  2: #fb36ee,
  3: #a04cf0,
  4: #6089f0,
  5: #edd754,
  6: #fd525e,
  7: #6af557,
  8: #00f0e8
);
// $skill-colors: (
//   1: #f2ae84,
//   2: #fb36ee,
//   3: #a04cf0,
//   4: #6089f0,
//   5: #edd754,
//   6: #fd525e,
//   7: #6af557,
//   8: #00f0e8
// );

.skillPoint {
  outline: 0;  

  pointer-events: none;

  z-index: 99;
  box-shadow: 1px 2px rgba(50, 50, 50, 0.35);

  border: 3px solid $border-color;
  border-left: 4px solid $border-color;
  border-right: none;
  display: inline-block;
  background-color: #3c3c3c;
  width: (100% - $first-button-width - $last-button-width)/6;

  -webkit-user-select: none;

  &:first-child {
    width: $first-button-width;
    border-radius: 15px 0 0 15px;
    border-left: 3px solid #3c3c3c;
  }

  &:last-child {
    pointer-events: auto;
    
    width: $last-button-width;
    border-radius: 0px 50px 50px 0px;
    border-right: 3px solid #3c3c3c;

    background-color: $last-button-color;

    font-weight: 999;
    font-size: $container-height/8;
    color: #3c3c3c;

    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
  }


  &:last-child:hover {
    cursor: pointer;
    background-color: lighten($last-button-color, 10%);
  }

  &:last-child:active {
    background-color: $last-button-color;
  }
}

@for $i from 1 through length($skill-colors) {
  .skillPoint--row#{$i}:last-child {
    background-color: map-get($map: $skill-colors, $key: $i);
    &:hover {
      background-color: lighten(map-get($map: $skill-colors, $key: $i), 10%);
    }
    &:active {
      background-color: map-get($map: $skill-colors, $key: $i)
    }
  }
}
