.tank{
    width: 100%;
    height: 100%;

    transform-origin: center;
    transform: scale(1.4);
}

.tankWrapper{
    width: 100%;
    height: 100%;
    transform-origin: center;
    // z-index: 5;
}