.buttonGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 20px;
    margin-bottom: 5px;

    outline: 0;

    position: relative;
}

.button{
    z-index: -2;
    height: 30px;
    width: 90px;

    position: relative;
    // text-align: center;
    // top: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;        
    outline: 0;

    background-color: rgb(138,199,110);
    color: white;

    border: 4px solid #454545;  
    border-radius: 2px;

    &:hover {
        cursor: pointer;
    }

    &::before{
        z-index:-1;
        content:'';
        position:absolute;
        height:50%;
        width:100%;
        top: 50%;
        left:0;  
        background-color: rgba(56.0,78.0,79.7,0.3);
    }
}
.edit {
}

.settings {
}