.mainContainer {
    height: 100%;
    width: 100%;

    text-align: center;

    overflow: scroll;

    font-size: 18px;
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
    display: none;
}

.small {
    font-size: 0.7em;
}

.withMargin{
    margin: 5% 10%;
}
.spin{
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0)
    }
    50%{
        transform: rotate(180deg)
    }
    100%{
        transform: rotate(360deg)
    }
}