$conWidth: 60%;
$conHeight: 80vh;
$padding: 2vh;
$topMargin: 6vh;
.mainContainer {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.UpgradeContainer {
    outline: 0;  

    flex: 1 1 0;
    // pointer-events: none;

    height: 100%;
    width: 100%;
    padding: $padding;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    position: relative;

    overflow: scroll; 
}

.UpgradeContainer::-webkit-scrollbar{
    display:none;
}

.addButton {
    background: #5f5f5f;
    border-radius: 10px;

    width: 200px;
    height: 220px;
    margin: 20px;
    
    text-align: center;
    transition: transform .1s; /* Animation */

    display: inline-block;

    &:hover{
        // position: relative;
        // z-index: 100;
        // // transform: scale(1.2);
        // overflow: visible;

        cursor: pointer;
    }

}

.fixedWrapper {
    position: absolute;
    right: 63px;
    top: 5px;
}

.editButton {
    position:fixed;
}

$pressedColor: rgba(254, 41, 43, 0.66);
.pressedEditButton {
    background-color: $pressedColor;

    &:hover{
        background-color: $pressedColor
    }
}

