$row-padding: 0.9%;

.skillRow {
  pointer-events: none;
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: $row-padding 0 $row-padding 0;

  position: relative;
}

/** 
Skill points start 
**/
$container-width: 170px;
$container-height: $container-width * 1.075;
$first-button-width: 16%;
$last-button-width: 20%;

$border-size: round($container-width * 0.014);
$border-color: #3c3c3c;

$row-padding: 0.9%;
$container-padding: $container-width * 0.05;

$last-button-color: #9d9d9d;
$container-color: #c0c0c0;
$skill-colors: (
  1:rgba(254.5,170.5,113.5,0.66) ,
  2: #fb36ee,
  3: #a04cf0,
  4: #6089f0,
  5: #edd754,
  6: #fd525e,
  7: #6af557,
  8: #00f0e8
);
// $skill-colors: (
//   1: #f2ae84,
//   2: #fb36ee,
//   3: #a04cf0,
//   4: #6089f0,
//   5: #edd754,
//   6: #fd525e,
//   7: #6af557,
//   8: #00f0e8
// );

$hoveredLastButton: lighten($last-button-color, 10%);
.skillPoint {
  outline: 0;  

  //needed for after elements
  position: relative;
  //so after elements clip off at rounded edges
  overflow: hidden;

  pointer-events: none;

  //top & bottom 3px, left 4px, right none
  // border: 3px solid $border-color;
  border: 3px solid $border-color;
  // border-left: 4px solid $border-color;
  border-left: 4px solid $border-color;
  border-right: none;

  display: inline-block;
  background-color: #3c3c3c;

  //total 8 button, -first -last = 6
  width: (100% - $first-button-width - $last-button-width)/6;

  -webkit-user-select: none;

  &:first-child {
    width: $first-button-width;
    // border-radius: 5em 0px 0px 5em;
    border-radius: 60px 0px 0px 60px;
    //3px
    border-left: 3px solid #3c3c3c;
  }

  &:last-child {
    width: $last-button-width;
    border-radius: 0px 40px 40px 0px;
    border-right: 3px solid #3c3c3c;

    background-color: $last-button-color;
    // font-weight: 999;
    // font-size: $container-height/8;
    // color: #3c3c3c;

    // display: flex;
    // align-items: center; /* Vertical center alignment */
    // justify-content: center; /* Horizontal center alignment */
  }


  &:last-child:hover {
    background-color: $hoveredLastButton;
  }

  &:last-child:active {
    background-color: $last-button-color;
  }
}

.skillPointHover{
    background-color:  $hoveredLastButton !important;
}

.shadow {
  box-shadow: 1px 2px rgba(50, 50, 50, 0.35);
}