$conWidth: 45%;
$conHeight: 80vh;
$padding: 2%;
$topMargin: 6%;
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');


.App {
  z-index: 1;
  // overflow: hidden;

  display: flex;
  flex-direction: column;


  box-sizing: border-box;

  height: $conHeight;
  width: $conWidth;
  min-width: 360px;
  top: $topMargin;

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // left: 50%;
  // transform: translateX(-50%);

  border-width: 6px;
  border-style: solid;
  border-color:#454545;
  border-radius: 6px;

  box-shadow: 5px 10px 30px rgba(255, 255, 255, 0.2);

  // background-color: rgba(255, 255, 255, 0.1);

  // &::before{
  //   content:'';
  //   position:absolute;
  //   height:100%;
  //   width:100%;
  //   top: 50%;
  //   left:0;  
  //   // background-color: rgba(56.0,78.0,79.7,0.15);
  // }
}

.mainView {
  flex: 1 1 0;
  overflow: hidden;

  position: relative;
}


.fade{
  transform-origin: center center; 
  animation: fade 0.3s ease-out forwards;
}


@keyframes fade {
  100%{
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
}

