.popup {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%, -50%);
    transition: all 0.3s smooth;
    max-width: 400px;
    max-height: 60vh;
    background-color: #5f5f5f;
  
    border: 5px solid#303030;
    border-radius: 0.25em;
  
    transform-origin: top left;
    overflow: scroll;
  }
  
  .showMessage{
    animation: messagePopUp 1s alternate;
    animation-iteration-count: 2;
  }
  
  .showMessagePersist{
    animation: messagePopUp 1.5s forwards;
    // transform: scale(1) translate(-50%, -50%)
  }
  
  .popupText {
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
  
    font-size: 1.5em;
  
    padding: 0.4em;
    white-space: pre-line;

  }
  
  @keyframes messagePopUp {
    0%{
      transform: scale(0) translate(-50%, -50%)
    }
    15%{
      transform: scale(1) translate(-50%, -50%)
    }
    100%{
      transform: scale(1) translate(-50%, -50%)
    }
  }
  
  .fixedWrapper{
    position: absolute;
    top: 2px;
    right:12px;
  }
  .close{
    position: fixed;
    font-size: 12px;

    &:hover{
      cursor: pointer
    }
  }

  .wide{
    max-width: 40vw;
    text-align: left;
    // text-justify: newspaper
  }