.arrowContainer{
    position: absolute;
    right: 42px;
    bottom: 32px;
  }
  
  .arrow {
    /** for positioning use arrow container **/
    position: fixed;
    // display: block;
    // margin: auto;
  
    height: 32px;
    padding: 7px;
  
    fill:#454545;
    // fill:rgb(240, 240, 240);
  
    animation: zoom-in 0.5s ease-out, bounce 1s 0.5s ease-out infinite;
  
    &:hover{
        cursor: pointer;
    }
  }
  
  .arrowDisappear {
    animation: zoom-out 0.2s ease-out forwards;
  }
  
@keyframes bounce {
    0% {
        transform: translateY(0)
    }
    40%{
        transform: translateY(-40%)
    }
    100% {
        transform: translateY(0%)
    }
  }
  
  @keyframes zoom-in {
    0% {
        transform: scale(0) translateY(0) 
    }
    30%{
        transform: scale(1.08) translateY(-60%)
    }
    100% {
        transform: scale(1) translateY(0%)
    }
  }
  
  @keyframes zoom-out {
    99%{
        opacity: 100;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
  }