.prompt{
    z-index: 100;
    width: 300px;
    height: 180px;
    font-size: 20px;
    padding: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5f5f5f;

    border: 5px solid#303030;
    border-radius: 0.25em;

    transform-origin: top left;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    pointer-events: auto;
}

.buttonWrapper{
    margin-top: 15px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button{
    width: 85px;
    height: 50px;
    font-size: 16px;
}

.checkBox{
    zoom: 0.7;
    margin: 5px;
    color: rgba(174, 174, 174, 0.7);
}

.dontShowAgain{
    position: absolute;
    bottom: 3px;
}