.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;

    padding-bottom: 0.3vh;
    // transition: all 2s;
}

.prompt {
    width: 100%;
    // height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text {
    font-size: 1.3em;
    margin: 0.5em 1em;
}

.autoDetect {
    cursor: help;
    & > span {
        z-index: 5;
        display: block;
        width: 17vw;
        background-color: #454545;
        visibility: hidden;
        position: absolute;
        top: 1vh;
        right:1vw;
        pointer-events: none;
        text-align: center;
        padding: 0.8vh;
    }

    &:hover span{
    // animation: delayedVisible .1s forwards;
    visibility: visible
    }
}

@keyframes delayedVisible{
    0%{
        transform: scale(0);
        visibility: visible;
    }
    70%{
        transform: scale(0);
        visibility: visible;
    }
    100% {
        transform: scale(1);
        visibility: visible;
      }
}

.reloadButtonGroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reloadButton{
    margin: 0 0.5em;
    padding: 0.3em;
}
