.buttonGroup{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    outline: 0;
    position: relative;
}

.button{
    padding: 0.4em;
    height: 1.8em;
    width: 100%;

    border-bottom: 4px solid #454545;  

    user-select: none;
    position: relative;
    // text-align: center;
    // top: 50%;

    //alighn text center
    display: flex;
    justify-content: center; 
    align-items: center;        
    outline: 0;

    background-color: rgba(255, 255, 255, 0.12);

    color: white;
    font-size: 1.8em;
    
    // text-shadow:  
    // -0.07em  0.07em 1px black, 
    // -0.07em -0.07em 1px black, 
    // 0.07em  0.07em 1px black, 
    // 0.07em -0.07em 1px black, 
    // -0.04em  0.0em 1px black, 
    // 0.0em -0.04em 1px black, 
    // 0.04em  0.0em 1px black, 
    // 0.0em 0.04em 1px black;

    &:hover {
        cursor: pointer;
    }
}

.pressed{
    z-index: 100;
    border: 4px solid #454545;  
    border-top: 0;
    border-bottom: 0;

    background-color: rgba(255, 255, 255, 0);

    &:first-child{
        border-left: 0;
    }
    &:last-child{
        border-right: 0;
    }
    margin: auto;
}
.edit {
}

.settings {
}