.mainContainer {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    position: relative;
}

.shortcutsContainer {
    outline: 0;  

    flex: 1 1 0;
    // pointer-events: none;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    position: relative;

    overflow: scroll; 

    padding: 0 25px 50px 25px;
    scroll-behavior: smooth;

        // transition: all 0.5 ease-out;
}

.shortcutsContainer::-webkit-scrollbar{
    display:none;
}

.pleaseRead{
    z-index: 100;
    top: 100%;
    position: absolute;
    width: unset;
    height: 24px;
    padding: 3px;
    bottom: 20px;
    left: 10px;
    display: block;
    transform: translateY(-130%)
}