.disappear{
    animation: disappear 0.3s ease-out forwards;
    z-index: 1000;
    &:hover{
        cursor: default;
    }
}

@keyframes disappear {
    100%{
        transform: scale(4);
        opacity: 1;
    }  
}
.card {
    // perspective: 999;
    z-index: 1;
    transition: all 0.5s ease-out;
    border-radius: 1vh;

    // width: calc(6vh + 140px);
    // height: calc(8vh + 140px);
    width: 200px;
    height: 220px;
    margin: 20px;
    
    transition: transform .1s; /* Animation */

    display: inline-block;

    position: relative;
      transform-origin: center;

      display: flex;
    justify-content: center; 
    align-items: center; 

      &:hover {
          cursor: pointer;
      }
    // &::after{
    //     content: "";
    //     z-index: -1;
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     top: 0;
    //     left: 0;
    //     transform-origin: center;

    //     border-radius: 1vh;
    //     transform: scale(1.08);
    //     pointer-events: none;

    // }

    // &:hover::after{
    //     cursor:pointer;    

    //     background-color: rgba(255,255,255,0.7);
    // }

}

.grayCard {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    &::before{
        content: "";
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        
        background-color: #5f5f5f;
        border-radius: 1vh;

        box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.35);
    }

    &:active::before {
        left: 1px;
        top: 2px;
        box-shadow: none;
    }
}

.cardHover {
    transform-origin: center;
    &::after{
        content: "";
        z-index: -2;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transform-origin: center;

        border-radius: 1vh;
        transform: scale(1.08);
        pointer-events: none;

    }

    &:hover::after{
        cursor:pointer;    

        background-color: rgba(255,255,255,0.7);
    }
}

.disappear{
    animation: disappear 0.3s ease-out forwards;
  z-index: 1000;
      &:hover{
        cursor: default;
      }
  }
  
  @keyframes disappear {
    100%{
      transform: scale(4);
      opacity: 1;
    }
}

.disableText { 
    font-size: 0; 
}

.flip{
    transform: rotateY(180deg);
}

.flipIn {
    animation: flipIn .5s forwards
}

.flipVertical {
    transform: rotateX(180deg);
}

.flippableCard{
    height: 100%;
    width: 100%;
    
    position:relative;

    //perspective only works on parent container
    // perspective: 900;
    
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.4s ease-out;
  }
  
  .frontside{
    // z-index: 1;
    position: absolute;
    // backface-visibility: hidden;
    transform: translateZ(1px)
  }
  
  .backside{
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
  
  @keyframes flipIn {
      0%{
        transform: rotateY(180deg);
      }
100%{
    transform: rotateY(0deg);
}
  }