.clickable{
    pointer-events: auto;
    cursor: pointer;
  }


//   BUTTON START
// $button-color: #aeaeae;
$button-color: rgba(174, 174, 174, 0.7);
.button {
    width:60px;
    height:30px;

    font-size: 12px;

    border: 0.3vh solid #343434;
    border-radius: 0.5vh ;
    text-align: center;

    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: $button-color;

    user-select: none;
    &:hover{
        cursor: pointer;
        background-color: lighten($button-color, 10%);
    }
}

.pressed {
    background-color: lighten($button-color, 10%);
}
//  BUTTON END

$green: rgba(115, 225, 63, 0.66);
.green{
    background-color: $green;

    &:hover{
        background-color: $green;
    }
}

$red: rgba(254, 41, 43, 0.66);
.red{
    background-color: $red;

    &:hover{
        background-color: $red;
    }
}

.blueUnderline{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        
        box-shadow: 0px 4px 2px -2px #00b2e1;
    }
}
.zoomAwayEffect {
    &::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(254, 41, 43);

    animation: zoomAwayEffect 0.4s linear forwards;
    }
}

@keyframes zoomAwayEffect {
    50%{
        opacity: 0.2
    }
    100%{
        opacity: 0;
        transform: scale(6)
    }
}