/**

This file is excluded from CSS modules

**/

@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');

body{

  background-color: rgb(191, 191, 191);
}
#root {
  margin: 0;
  padding: 0;

  text-shadow: 
    0.0em 0.0em 0.1em black,
    0.0em 0.0em 0.15em black,
    0.0em 0.0em 0.15em black,
    0.0em 0.0em 0.2em black,
    0.0em 0.0em 0.2em black,
    0.0em 0.0em 0.2em black;
  // text-shadow:  
  // -0.05em  0.05em 1px black, 
  // -0.05em -0.05em 1px black, 
  // 0.05em  0.05em 1px black, 
  // 0.05em -0.05em 1px black, 
  // -0.05em  0.0em 1px black, 
  // 0.0em -0.05em 1px black, 
  // 0.05em  0.0em 1px black, 
  // 0.0em 0.05em 1px black;


// -webkit-text-stroke: 1px;
// -webkit-text-stroke-color: black;

  -webkit-font-smoothing: antialiased;

  
  // font-size: 12px;
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: black;

  // background: #838383
  // background: url(https://i.pinimg.com/originals/8a/8b/37/8a8b373f2a67961d8946a59e13a7bf22.jpg)
}

#root * {
  box-sizing: border-box;
  font-family: 'Ubuntu','Ariel';
  color: white;

  text-shadow:  
  -0.06em 0.06em 1px black, 
  -0.05em -0.05em 1px black, 
  0.06em  0.06em 1px black, 
  0.06em -0.06em 1px black, 
  -0.05em  0.0em 1px black, 
  0.0em -0.05em 1px black, 
  0.08em  0.0em 1px black, 
  0.0em 0.06em 1px black;
  // -0.06em 0.06em 0 black, 
  // -0.05em -0.05em 0 black, 
  // 0.06em  0.06em 0 black, 
  // 0.06em -0.06em 0 black, 
  // -0.05em  0.0em 0 black, 
  // 0.0em -0.05em 0 black, 
  // 0.08em  0.0em 0 black, 
  // 0.0em 0.06em 0 black;


  // calc(-0.05em - 1px)  calc(0.05em + 1px) 0 black, 
  // calc(-0.05em - 1px) calc(-0.05em - 1px) 0 black, 
  // calc(0.05em + 1px)  calc(0.05em + 1px) 0 black, 
  // calc(0.05em + 1px)  calc(-0.05em - 1px) 0 black, 
  // calc(-0.05em - 1px)  0px 0 black, 
  // 0px  calc(-0.05em - 1px) 0 black, 
  // calc(0.05em + 1px)  0px 0 black, 
  // 0px  calc(0.05em + 1px) 0 black;

  -webkit-font-smoothing: antialiased;
user-select: none;
  outline: 0;
}

#root input{
  transform: scale(1); //other scripts might have transforms
}

.hide {
  display: none !important;
}

.disableMouse {
  pointer-events: none;
}