$toggleSize: 13%;
$green: rgba(115, 225, 63, 0.66);
$red: rgba(254, 41, 43, 0.66);
$bigbuttonheight: 13vh;
$bigbuttonwidth: 20vh;
// $bigbuttonheight: calc(6vh + 70px);
// $bigbuttonwidth: calc(11vh + 100px);
$bigbuttonborder: 0.5vh;

.mainContainer {
    height: 100%;
    min-width: 42vh;

    max-width: 60vh;

    overflow: scroll;

    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;

    scroll-behavior: smooth;
}

.bigButton{
    width: $bigbuttonwidth;
    height: $bigbuttonheight;
    font-size: 3.7vh;
    margin: 4vh;
    border-radius: 0.5vh;
    border-width: $bigbuttonborder;
    padding: 2vh;
}

.mediumText{
    font-size: 2.5vh;
    text-align: center;
}

.mediumBigText{
    font-size: 3vh;
}

.optionButton {
    background-color: rgba(0,0,0,0);
    position: relative;
    padding-left: 6%;
    padding-right: 0;
    transition: 0.5s;

    pointer-events: none;
    &:hover{
        background-color: rgba(0,0,0,0);
    }
}

.optionText{
    z-index: 2;
}
.optionOn {
    padding-left: 0;
    padding-right: 6%;
    // background-color: $green;
    // &:hover{
    //     background-color: $green;
    // }
}

.toggle {
    // z-index: -1;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    pointer-events: auto;

    & > input[type='checkbox']{
        pointer-events: auto;
    position: relative;
    height: 100%;
    width: 100%; //weird glitch where there's a white line on right side sometimes
    margin: 0;
    padding: 0;
    appearance: none;
    background-color: $red;
    transition: 0.5s;

    &:hover{
        transition: 0s;
        cursor: pointer;
        background-color: darken($red, 10%);
    }
    }

    // & > input[type='checkbox']:before{
    //     content:'OFF';
    //     transform-origin: top right;
    //     transform: rotate(-90deg) translate(0,-600%);
    //     text-align: center;
    //     // display: flex;
    //     // align-items: center;
    //     position: absolute;
    //     text-shadow: none;
    //     color: $red;
    //     height: 2vh;
    //     width: 12vh;
    //     font-size: 1.7vh;
    //     // margin-top: auto;
    //     background-color: #fff;
    //     transition: 0.5s;
    //     }
    // & > input:checked[type='checkbox']:before{
    //     // color: rgba(115, 225, 63, 0.66);
    //     content:'N O';
    //     transform: rotate(-90deg) translate(0,250%);
    //     color: $green;
    // }
    & > input[type='checkbox']::before{
        content:'OFF';
        text-align: center;
        position: absolute;
        text-shadow: none;
        color: $red;
        height: 100%;
        width: 13%;
        font-size: 1.7vh;
        // margin-top: auto;
        background-color: #fff;
        transition: 0.5s;
        line-height: 1.5em;
        // transform-origin: center center;
        transform: rotateY(180deg) rotateX(180deg);
        writing-mode: vertical-lr;
        text-orientation: sideways;
    }
     & > input:checked[type='checkbox']{
         background-color: $green;

         &:hover{
             transition: 0s;
             background-color: darken($green, 10%);
         }
    }
    & > input:checked[type='checkbox']::before{
        // color: rgba(115, 225, 63, 0.66);
        // transform: rotate(-90deg) translate(0,250%);
        content:'NO';
        margin-left: 87%;
        color: $green;
        text-orientation: upright;
    }
    & > input[type='checkbox']:hover::before{

        animation: hoverJiggle 0.2s ease-in-out backwards;
    }
    & > input:checked[type='checkbox']:hover::before{
        animation: hoverJiggle 0.2s linear backwards;
    }
    // & > input[type='checkbox']:active::before{
    //     animation: activeJiggle 0.1s linear backwards;
    // }
    // & > input:checked[type='checkbox']:active::before{
    //     animation: activeJiggle 0.1s linear backwards;
    // }
}


@keyframes hoverJiggle {
    45%{
        transform: rotateY(180deg) rotateX(180deg) scale(1.2,1.1)
    }
    90%{
        transform: rotateY(180deg) rotateX(180deg) scale(0.97)
    }
    // 100%{
    //     // transform-origin: bottom left;
    //     transform: rotateY(180deg) rotateX(180deg) rotate(14deg)
    // }
}

// @keyframes activeJiggle {
//     45%{
//         transform: rotateY(180deg) rotateX(180deg) scale(0.95)
//     }
// }


